<div *ngIf="this.h3Key">
  <mat-card>
    <mat-card-title>H3 Cell Details</mat-card-title>
    <mat-card-content>H3 Key: {{this.h3Key}}</mat-card-content>
    <mat-card-content>Area: XXX</mat-card-content>
    <mat-card-content>Location: XXX</mat-card-content>
  </mat-card>
  <div *ngIf="this.hasNft()">
    <mat-card>
      <mat-card-title>Token Details</mat-card-title>
      <mat-card-content class="primary">{{this.getNft().status == TokenStatus.RESALE ? 'On Sale' : ''}}</mat-card-content>
      <mat-card-content class="accent">{{this.getNft().owner ? 'Owned' : ''}}</mat-card-content>
      <mat-card-content>Owner: {{this.getNft().ownerAddress | shortAddress}}</mat-card-content>
      <mat-card-content>
        <app-nft-price-tag price="{{this.getNft().price | weiToOne}}" label="Latest Resale Price"></app-nft-price-tag>
      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <div [ngSwitch]="this.getNft().status">
      <div *ngSwitchCase="TokenStatus.HOLD">
        <mat-card *ngIf="this.isTokenOwner()">
          <mat-card-title>Start Resale</mat-card-title>
          <form
            (ngSubmit)="startResale()"
            [formGroup]="startResaleForm"
            class="form">
            <mat-form-field appearance="fill" label="Price">
              <mat-label>Buy Now Price (ONE) </mat-label>
              <input matInput type="number" formControlName="buyNowPriceOne"/>
            </mat-form-field>
            <mat-form-field appearance="fill" label="Price">
              <mat-label>Bid Ask Price (ONE) </mat-label>
              <input matInput type="number" formControlName="bidAskPriceOne"/>
            </mat-form-field>
            <mat-form-field label="Duration (seconds)" appearance="fill">
              <mat-label>Duration (seconds) </mat-label>
              <input matInput type="number" formControlName="secondsAfter"/>
            </mat-form-field>
            <button mat-raised-button color="primary" class="submit-button">
              <mat-icon>sell</mat-icon>
              <span class="button-label">Sell</span>
            </button>
          </form>
        </mat-card>
      </div>

      <div *ngSwitchCase="TokenStatus.RESALE">
        <mat-card>
          <mat-card-title>Resale Details</mat-card-title>
          <mat-card-content>
            <mat-progress-bar mode="determinate" value="{{this.getNftResaleProgress()}}">
            </mat-progress-bar>
            <div *ngIf="this.canBidResale()">
              {{this.getHoursLeft()}} hours left
            </div>
            <div *ngIf="!this.canBidResale()">
              Resale has ended
            </div>
          </mat-card-content>

          <mat-card-content>
            <app-nft-price-tag label="Buy Now Price" price="{{this.getNft().bidAskPrice | weiToOne}}"></app-nft-price-tag>
            <app-nft-price-tag label="Bid Ask Price" price="{{this.getNft().buyNowPrice | weiToOne}}"></app-nft-price-tag>
            <div *ngIf="this.shouldShouldBidInfo()" class="accent">
              Highest Bid {{this.getNft().highestBidPrice | weiToOne}} ONE by {{this.getNft().bidderAddress | shortAddress}}
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="this.isSeller()">
            <button (click)="this.stopResale()" mat-raised-button class="submit-button" color="primary">
              <mat-icon>cancel</mat-icon>
              Stop Resale
            </button>
          </mat-card-actions>
          <mat-card-content *ngIf="!this.isSeller() && this.canBidResale()">
            <form
              (ngSubmit)="bidResale()"
              [formGroup]="bidResaleForm"
              class="form">
              <mat-form-field label="Price" appearance="fill">
                <mat-label>Bid Price (ONE) </mat-label>
                <input type="number" matInput formControlName="priceOne"/>
              </mat-form-field>
              <button mat-raised-button color="primary" class="submit-button">
                <mat-icon>upload</mat-icon>
                <span class="button-label">Bid</span>
              </button>
            </form>
          </mat-card-content>
          <mat-card-content *ngIf="!this.isSeller() && this.canBidResale()">
            <div>Buy now price: {{this.getNft().buyNowPrice | weiToOne}} ONE</div>
            <button (click)="this.buyNow()" mat-raised-button color="primary" class="submit-button">
              <mat-icon>upload</mat-icon>
              <span class="button-label">Buy now</span>
            </button>
          </mat-card-content>

          <mat-card-actions *ngIf="!this.isSeller() && this.isReadyForRetrieve()">
            <button (click)="this.retrieveTokenFromResale()">Retrieve</button>
          </mat-card-actions>
        </mat-card>
      </div>
   </div>
  </div>
  <div *ngIf="!this.hasNft()">
    <form
      (ngSubmit)="mintNft()"
      [formGroup]="mintNftForm"
      class="form">
      <mat-form-field label="Nickname" appearance="fill">
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="nickname"/>
      </mat-form-field>
      <div class="token-resale-status resale">• Initial Sale</div>
      <app-nft-price-tag price="1" label="Buy this land"></app-nft-price-tag>
      <button mat-raised-button color="primary" class="submit-button">
        Buy
      </button>
    </form>
  </div>
</div>