<div class="info-wrapper">
  <div class="crypto-address-container">
    <div class="crypto-address">
      {{ (contractService.walletInfo$ | async)?.address | shortAddress }}
    </div>
  </div>

  <mat-card class="wallet-info-card">
    <div class="balance-main">
      <div class="balance-left">
        <embed src="assets/harmony-logo.svg"/>
      </div>
      <div class="balance-right">
        <div class="balance-label">
          Balance
        </div>
        <div class="balance-number">
          <span class="amount"> {{ this.getBalanceNumber() }} </span>
          <span> ONE </span>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div class="wallet-label" *ngIf="nftsWithBids.length > 0">
  <div class="divider"></div>

  <span class="wallet-label-text"> Nfts with your bids </span>
</div>
